<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="WiFi_APName" value="HD-Mobile">
    </add>
    <add key="WiFi_APKey" value="hdjd5500">
    </add>
    <add key="WiFi_APKeyType" value="0">
    </add>
    <add key="WiFi_AutoIP" value="true">
    </add>
    <add key="WiFi_IP" value="0.0.0.0">
    </add>
    <add key="WiFi_NetMask" value="255.255.255.0">
    </add>
    <add key="WiFi_Gateway" value="0.0.0.0">
    </add>
    <add key="WiFi_DevIP" value="192.168.1.100">
    </add>
    <add key="WiFi_DevPort" value="9100">
    </add>
    <add key="LAN_AutoIP" value="false">
    </add>
    <add key="LAN_IP" value="192.168.1.100">
    </add>
    <add key="LAN_NetMask" value="255.255.255.0">
    </add>
    <add key="LAN_Gateway" value="192.168.1.1">
    </add>
    <add key="LAN_DevIP" value="192.168.1.100">
    </add>
    <add key="LAN_DevPort" value="9100">
    </add>
    <add key="MQTT_ServerIP" value="http://prewms.rd.jd.com/service/rest">
    </add>
    <add key="MQTT_ServerPort" value="80">
    </add>
    <add key="MQTT_user" value="mengtongzhou">
    </add>
    <add key="MQTT_password" value="xinxibu456">
    </add>
  </appSettings>
</configuration>